.App {
  text-align: center;
}

.App-logo {

}

.App {
  background-color: #fff;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form{
 margin:20px;
}

.main-title{
  color:blue;
  margin-top: 40px;
  font-size:2em;
}
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.row img{
  float:left; 
  position:relative;
  
}

@media (max-width: 990px){
  .row img{
    left:-300px;
  }
}

@media (max-width: 5750px){
  .row img{
    left:0px;
  }
}

.name-cart{
  font-size:14px;
}

.price-cart{
    font-size:14px;
}